@model Akios.Domain.Entities.KullaniciYetkileri
@{
    Layout = null;
}


<li class="header">YÖNETİM</li>
<li class="treeview">
    <a href="javascript:PageLoad('KontrolPaneli/Liste')"><i class="fa fa-dashboard"></i> <span>Kontrol Paneli</span></a>
</li>
<li class="treeview">
    <a href="#"><i class="fa fa-users"></i> <span>Müşteri</span><i class="fa fa-angle-left pull-right"></i></a>
    <ul class="treeview-menu">
        <li><a href="javascript:PageLoad('Musteri/Liste')"><i class="fa fa-list"></i> <span>Müşteri Listesi</span></a></li>
        <li><a href="javascript:ModalLoad('Musteri/Ekle','Müşteri Ekle')"><i class="fa fa-plus"></i> <span>Ekle</span></a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#"><i class="fa fa-user"></i> <span>Kullanıcı</span><i class="fa fa-angle-left pull-right"></i></a>
    <ul class="treeview-menu">
        <li><a href="javascript:PageLoad('Kullanici/Liste')"><i class="fa fa-list"></i> <span>Kullanıcı Listesi</span></a></li>
        <li><a href="javascript:ModalLoad('Kullanici/Ekle','Kullanıcı Ekle')"><i class="fa fa-plus"></i> <span>Ekle</span></a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#"><i class="fa fa-user-secret"></i> <span>Kullanıcı Grup</span><i class="fa fa-angle-left pull-right"></i></a>
    <ul class="treeview-menu">
        <li><a href="javascript:PageLoad('Grup/Liste')"><i class="fa fa-list"></i> <span>Grup Listesi</span></a></li>
        <li><a href="javascript:PageLoad('Grup/Ekle')"><i class="fa fa-plus"></i> <span>Ekle</span></a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#"><i class="fa fa-male"></i> <span>Personel</span><i class="fa fa-angle-left pull-right"></i></a>
    <ul class="treeview-menu">
        <li><a href="javascript:PageLoad('Personel/Liste')"><i class="fa fa-list"></i> <span>Personel Listesi</span></a></li>
        <li><a href="javascript:PageLoad('Personel/Ekle')"><i class="fa fa-plus"></i> <span>Ekle</span></a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#"><i class="fa fa-shopping-cart"></i> <span>Sipariş Seri</span><i class="fa fa-angle-left pull-right"></i></a>
    <ul class="treeview-menu">
        <li><a href="javascript:PageLoad('SiparisSeri/Liste')"><i class="fa fa-list"></i> <span>Seri Listesi</span></a></li>
        <li><a href="javascript:PageLoad('SiparisSeri/Ekle')"><i class="fa fa-plus"></i> <span>Ekle</span></a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#"><i class="fa fa-truck"></i> <span>Teslimat Kota</span><i class="fa fa-angle-left pull-right"></i></a>
    <ul class="treeview-menu">
        <li><a href="javascript:PageLoad('TeslimatKota/Liste')"><i class="fa fa-list"></i> <span>Teslimat Kota Listesi</span></a></li>
        <li><a href="javascript:PageLoad('TeslimatKota/Ekle')"><i class="fa fa-plus"></i> <span>Ekle</span></a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#"><i class="fa fa-eye"></i> <span>Referans</span><i class="fa fa-angle-left pull-right"></i></a>
    <ul class="treeview-menu">
        <li><a href="javascript:PageLoad('ReferansData/Liste')"><i class="fa fa-list"></i> <span>Referans Data Listesi</span></a></li>
        <li><a href="javascript:PageLoad('ReferansData/Ekle')"><i class="fa fa-plus"></i> <span>Ekle</span></a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#"><i class="fa fa-cogs"></i> <span>Konfigürasyon</span><i class="fa fa-angle-left pull-right"></i></a>
    <ul class="treeview-menu">
        <li><a href="javascript:PageLoad('Konfigurasyon/Liste')"><i class="fa fa-list"></i> <span>Konfigürasyon Listesi</span></a></li>
        <li><a href="javascript:PageLoad('Konfigurasyon/Ekle')"><i class="fa fa-plus"></i> <span>Ekle</span></a></li>
    </ul>
</li>

