@model Akios.Domain.Entities.KullaniciYetkileri
@{
    Layout = null;
}


<li class="header">YÖNETİM</li>
<li class="treeview">
    <a href="#"><i class="fa fa-users"></i> <span>Müşteriler</span><i class="fa fa-angle-left pull-right"></i></a>
    <ul class="treeview-menu">
        <li><a href="javascript:PageLoad('Musteri/Liste')"><i class="fa fa-users"></i> <span>Müşteri Listesi</span></a></li>
        <li><a href="javascript:PageLoad('Musteri/Ekle')"><i class="fa fa-user-plus"></i> <span>Ekle</span></a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#"><i class="fa fa-users"></i> <span>Kullanıcılar</span><i class="fa fa-angle-left pull-right"></i></a>
    <ul class="treeview-menu">
        <li><a href="javascript:PageLoad('Kullanici/Liste')"><i class="fa fa-users"></i> <span>Kullanıcı Listesi</span></a></li>
        <li><a href="javascript:PageLoad('Kullanici/Ekle')"><i class="fa fa-user-plus"></i> <span>Ekle</span></a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#"><i class="fa fa-user-secret"></i> <span>Kullanıcı Grupları</span><i class="fa fa-angle-left pull-right"></i></a>
    <ul class="treeview-menu">
        <li><a href="javascript:PageLoad('Grup/Liste')"><i class="fa fa-users"></i> <span>Grup Listesi</span></a></li>
        <li><a href="javascript:PageLoad('Grup/Ekle')"><i class="fa fa-plus"></i> <span>Ekle</span></a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#"><i class="fa fa-users"></i> <span>Personeller</span><i class="fa fa-angle-left pull-right"></i></a>
    <ul class="treeview-menu">
        <li><a href="javascript:PageLoad('Personel/Liste')"><i class="fa fa-users"></i> <span>Personel Listesi</span></a></li>
        <li><a href="javascript:PageLoad('Personel/Ekle')"><i class="fa fa-user-plus"></i> <span>Ekle</span></a></li>
    </ul>
</li>

