@{
    Layout = null;
}

<script type="text/javascript">
    $(function () {
        $("#masterTitle").html("Teslimat Kota");
        $("#masterDescription").text("Sistemde tanımlı teslimat kotalarını listeler.");
        LoadListData();
    });

    function LoadListData() {
        $("#tableTeslimatKotalar").dataTable({
            "sAjaxSource": "TeslimatKota/JsonList",
            "aaSorting": [[1,'asc']],
            "aoColumnDefs": [
            {
                "aTargets": [0],
                "bVisible":false
            },
            {
                "aTargets": [5],
                "bSortable": false,
                "mRender": function (data, type, row) {
                    return '<input type="button" class="btn btn-block btn-info" value="Düzenle" TeslimatKotaId ="' + row[0] + '"/>';
                }
            },
            {
                "aTargets": [6],
                "bSortable": false,
                "mRender": function (data, type, row) {
                    return '<input type="button" class="btn btn-block btn-danger" value="Sil" TeslimatKotaId ="' + row[0] + '"/>';
                }
            }]
        });
    }
</script>
<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-body">
                <table id="tableTeslimatKotalar" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Müşteri</th>
                            <th>Teslimat Tarihi</th>
                            <th>Max Teslimat Sayısı</th>
                            <th>Teslimat Yapılacak Mı?</th>
                            <th style="width:8%"></th>
                            <th style="width:8%"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

