@model Akios.Admin.Models.MusteriListViewModel
@{
    Layout = null;
}

<script type="text/javascript">
    $(function () {
        $("#masterTitle").html("Müşteriler");
        $("#masterDescription").val("Sistemde tanımlı müşterileri listeler.");
        LoadListData();
    });

    function LoadListData() {
        $("#tableMusteriler").dataTable({
            "sAjaxSource": "Musteri/JsonList",
            "aoColumns": [{
                "sName": "Logo",
                "bSearchable": false,
                "bSortable": false,
                "fnRender": function (oObj) { return 'asdfasdfasdf';}//"<img class='img-circle' width='50' height='50' src='/Musteri/LogoYukle?musteriId=" + oObj.aData[0] + "/>"; }
            },
            {
                "sName": "KodMusteri",
                "bSearchable": true,
                "bSortable": true,
                "fnRender": function (oObj) { return oObj.aData[1]; }
            },
            {
                "sName": "YetkiliKisi",
                "bSearchable": true,
                "bSortable": true,
                "fnRender": function (oObj) { return oObj.aData[2]; }
            },
            {
                "sName": "Adres",
                "bSearchable": true,
                "bSortable": true,
                "fnRender": function (oObj) { return oObj.aData[3]; }
            },
            {
                "sName": "Tel",
                "bSearchable": true,
                "bSortable": true,
                "fnRender": function (oObj) { return oObj.aData[4]; }
            },
            {
                "sName": "Faks",
                "bSearchable": true,
                "bSortable": true,
                "fnRender": function (oObj) { return oObj.aData[5]; }
            },
            {
                "sName": "Mobil",
                "bSearchable": true,
                "bSortable": true,
                "fnRender": function (oObj) { return oObj.aData[6]; }
            },
            {
                "sName": "Mail",
                "bSearchable": true,
                "bSortable": true,
                "fnRender": function (oObj) { return oObj.aData[7]; }
            },
            {
                "sName": "Web",
                "bSearchable": true,
                "bSortable": true,
                "fnRender": function (oObj) { return oObj.aData[8]; }
            },
            {
                "sName": "",
                "bSearchable": false,
                "bSortable": false,
                "fnRender": function (oObj) { return "<input type='button' class='btn btn-block btn-info' value='Düzenle' MusteriId = " + oObj.aData[0] + "/>"; }
            },
            {
                "sName": "",
                "bSearchable": false,
                "bSortable": false,
                "fnRender": function (oObj) { return "<input type='button' class='btn btn-block btn-danger' value='Sil' MusteriId = " + oObj.aData[0] + "/>"; }
            }]
        });
    }
</script>
<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <i class="fa fa-users"></i><h3 class="box-title">Müşteri Listesi</h3>
            </div>
            <div class="box-body">
                <table id="tableMusteriler" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="width:5%">Logo</th>
                            <th>Kod-Müşteri</th>
                            <th>Yetkili Kişi</th>
                            <th>Adres</th>
                            <th>Tel</th>
                            <th>Faks</th>
                            <th>Mobile</th>
                            <th>Mail</th>
                            <th>Web</th>
                            <th style="width:8%"></th>
                            <th style="width:8%"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>